@let mortgageAmountCtrl = mortgageForm.controls['mortgageAmount']; @let mortgageTermCtrl =
mortgageForm.controls['mortgageTerm']; @let mortgageTypeCtrl =
mortgageForm.controls['mortgageType'];

<section class="mc">
  <div class="mc__form">
    <header class="mc__form-header">
      <h1 class="mc__form-title text-preset-2 slate-900">Mortgage Calculator</h1>

      <button
        class="mc__form-clear underline slate-700"
        text-preset-4
        type="button"
        (click)="clearAll()"
        aria-label="Clear all form fields"
      >
        Clear All
      </button>
    </header>

    <form class="mc__form-fields" [formGroup]="mortgageForm" (ngSubmit)="calculateRepayments()">
      <div class="f-group" [class.error]="mortgageAmountCtrl.invalid && mortgageAmountCtrl.touched">
        <label class="f-label text-preset-4 slate-700" for="mortgageAmount">Mortgage Amount</label>

        <div class="f-input-wrapper text-preset-3">
          <span class="f-input-icon">£</span>
          <input
            id="mortgageAmount"
            class="f-input slate-900 icon-pound"
            formControlName="mortgageAmount"
            appOnlyNumbers
            aria-describedby="mortgageAmountErrors"
            autocomplete="off"
            inputmode="numeric"
            maxlength="5"
          />
        </div>

        @if (mortgageAmountCtrl.invalid && mortgageAmountCtrl.touched) {
        <div id="mortgageAmountErrors" class="red text-present-3">
          @if (mortgageAmountCtrl.errors?.['required']) {
          <small>Mortgage Amount is required.</small>
          } @if (mortgageAmountCtrl.errors?.['min']) {
          <small>Amount must be greater than 0.</small>
          }
        </div>
        }
      </div>

      <div class="f-group-columns">
        <div class="f-group" [class.error]="mortgageTermCtrl.invalid && mortgageTermCtrl.touched">
          <label class="f-label text-preset-4 slate-700" for="mortgageTerm">Mortgage Term</label>

          <div class="f-input-wrapper text-preset-3">
            <input
              id="mortgageTerm"
              class="f-input slate-900"
              type="text"
              formControlName="mortgageTerm"
              appOnlyNumbers
              aria-describedby="mortgageTermErrors"
              autocomplete="off"
              inputmode="numeric"
              maxlength="5"
            />
            <span class="f-input-icon">years</span>
          </div>

          @if (mortgageTermCtrl.invalid && mortgageTermCtrl.touched) {
          <div id="mortgageTermErrors" class="red text-present-3">
            @if (mortgageTermCtrl.errors?.['required']) {
            <small>Mortgage Term is required.</small>
            } @if (mortgageTermCtrl.errors?.['min']) {
            <small>Term must be greater than 0.</small>
            }
          </div>
          }
        </div>

        <div class="f-group" [class.error]="interestRateCtrl?.invalid && interestRateCtrl?.touched">
          <label class="f-label text-preset-4 slate-700" for="interestRate">Interest Rate</label>

          <div class="f-input-wrapper text-preset-3">
            <input
              id="interestRate"
              class="f-input slate-900"
              type="text"
              formControlName="interestRate"
              appOnlyNumbers
              aria-describedby="interestRateErrors"
              autocomplete="off"
              inputmode="numeric"
              maxlength="5"
            />
            <span class="f-input-icon">%</span>
          </div>

          @if (interestRateCtrl?.invalid && interestRateCtrl?.touched) {
          <div id="interestRateErrors" class="red text-present-3">
            @if (interestRateCtrl?.errors?.['required']) {
            <small>Interest Rate is required.</small>
            } @if (interestRateCtrl?.errors?.['min']) {
            <small>Rate must be greater than or equal to 0.</small>
            }
          </div>
          }
        </div>
      </div>

      <fieldset class="f-group" aria-labelledby="mortgageTypeLabel">
        <legend id="mortgageTypeLabel" class="f-label text-preset-4 slate-700 mb-8">
          Mortgage Type
        </legend>

        <div class="w-100 flex-column-center gap-12">
          <label class="f-custom-radio w-100 text-present-3" role="radio" aria-checked="false">
            <input
              class="f-radio"
              type="radio"
              formControlName="mortgageType"
              [value]="'repayment'"
            />
            <span class="f-radio-text slate-900">Repayment</span>
          </label>

          <label class="f-custom-radio w-100 text-present-3" role="radio" aria-checked="false">
            <input
              class="f-radio"
              type="radio"
              formControlName="mortgageType"
              [value]="'interestOnly'"
            />
            <span class="f-radio-text slate-900">Interest Only</span>
          </label>
        </div>

        @if (mortgageTypeCtrl.invalid && mortgageTypeCtrl.touched) {
        <div id="mortgageAmountErrors" class="red text-present-3">
          @if (mortgageTypeCtrl.errors?.['required']) {
          <small>Mortgage Amount is required.</small>
          }
        </div>
        }
      </fieldset>

      <div class="f-group-columns">
        <button
          role="polite"
          class="mc__form-calculate f-button text-preset-3 bg-lime slate-900 flex-row-center w-100"
          type="submit"
          [disabled]="mortgageForm.invalid"
          [title]="mortgageForm.invalid? 'Fill Fields before calculate' : 'Calculate Repayments'"
          [attr.aria-label]="mortgageForm.invalid? 'Fill Fields before calculate' : 'Calculate Repayments'"
        >
          <img
            src="assets/images/icon-calculator.svg"
            alt=""
            aria-hidden="true"
            height="24px"
            width="24px"
          />
          Calculate Repayments
        </button>
      </div>
    </form>
  </div>

  <div class="mc__result">
    @if (!showResults) {
    <div class="flex-column-center">
      <img alt="" aria-hidden="true" src="assets/images/illustration-empty.svg" />

      <h2 class="white text-preset-2">Results shown here</h2>

      <p class="slate-300 text-preset-4 txt-center">
        Complete the form and click “calculate repayments” to see what your monthly repayments would
        be.
      </p>
    </div>
    } @if (showResults) {
    <div aria-live="polite">
      <h2 class="white text-preset-2">Your results</h2>
      <p class="slate-300 text-preset-4">
        Your results are shown below based on the information you provided. To adjust the results,
        edit the form and click “calculate repayments” again.
      </p>

      <div class="mc__result-data bg-slate mt-30">
        <p class="slate-300 text-present-4 mb-4">Your monthly repayments</p>
        <p class="lime text-preset-1">&pound;{{ monthlyRepayment | number: '1.2-2'}}</p>
        <hr />
        <p class="slate-300 text-present-4 mb-4">Total you'll repay over the term</p>
        <p class="white text-preset-2">&pound;{{ totalRepayment | number: '1.2-2' }}</p>
      </div>
    </div>
    }
  </div>
</section>
