.container {
  width: 100%;
}

.text-preset-1 {
  font-family: var(--ff);
  font-weight: var(--fw-bold);
  font-size: var(--fs-56);
  line-height: 1.25;
  letter-spacing: -1px;
}

.text-preset-2 {
  font-family: var(--ff);
  font-weight: var(--fw-bold);
  font-size: var(--fs-24);
  line-height: 1.25;
  letter-spacing: -1px;
}

.text-preset-3 {
  font-family: var(--ff);
  font-weight: var(--fw-bold);
  font-size: var(--fs-18);
  line-height: 1.25;
  letter-spacing: -1px;
}

.text-preset-4 {
  font-family: var(--ff);
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  line-height: 1.5;
  letter-spacing: 0;
}

.text-preset-5 {
  font-family: var(--ff);
  font-weight: var(--fw-medium);
  font-size: var(--fs-14);
  line-height: 1.5;
  letter-spacing: 0;
}

.text-preset-6 {
  font-family: var(--ff);
  font-weight: var(--fw-medium);
  font-size: var(--fs-14);
  line-height: 1.5;
  letter-spacing: 0;
}

.underline {
  text-decoration: underline;
}

.white {
  color: var(--clr-white);
}

.slate-300 {
  color: var(--clr-slate-300);
}

.slate-500 {
  color: var(--clr-slate-500);
}

.slate-700 {
  color: var(--clr-slate-700);
}

.slate-900 {
  color: var(--clr-slate-900);
}

.lime {
  color: var(--clr-lime);
}

.red {
  color: var(--clr-red);
}

.bg-lime {
  background-color: var(--clr-lime);
}

.bg-slate-900 {
  background-color: var(--clr-slate-900);
}

.bg-slate {
  background-color: var(--bg-slate-box);
}

.w-100 {
  width: 100%;
}

.mt-30 {
  margin-top: 30px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txt-center {
  text-align: center;
}

.gap-12 {
  gap: 12px;
}

.f-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.f-group-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.f-input-wrapper {
  position: relative;
  border: 1px solid var(--clr-slate-500);
  border-radius: 4px;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.f-input {
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;

  height: 100%;
  border: none;
  padding: 0 8px;

  border-radius: 4px;
  padding: 12px 10px;
}

.f-input-icon {
  display: inline-block;
  width: fit-content;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: var(--clr-slate-100);
  z-index: 2;
}

.f-group.error .f-input-wrapper {
  border-color: var(--clr-red);
}

.f-group.error .f-input-icon {
  background-color: var(--clr-red);
  color: var(--clr-white);
}

.f-button {
  border-radius: 999px;
}

.f-button:disabled {
  opacity: 0.4;
}

.f-custom-radio {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:focus {
    outline: 2px solid var(--clr-lime);
    outline-offset: 2px;
  }

  input {
    opacity: 0;
    height: 0;
    width: 0;
  }

  .f-radio-text::before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);

    content: '';
    border: 1px solid var(--clr-slate-500);
    border-radius: 100%;
    width: 20px;
    aspect-ratio: 1 / 1;
  }

  .f-radio-text::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(calc(-50% + 10px), -50%);

    background-color: transparent;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }

  .f-radio-text {
    display: inline-block;
    width: 100%;
    padding: 10px 5px 10px 40px;
    border: 1px solid var(--clr-slate-500);
    border-radius: 4px;
  }

  input:checked + .f-radio-text {
    border-color: var(--clr-lime);
    background-color: var(--bg-lime);
  }

  input:checked + .f-radio-text::before {
    border-color: var(--clr-lime);
  }

  input:checked + .f-radio-text::after {
    background-color: var(--clr-lime);
  }
}

@media screen and (min-width: 37em) {
  .f-group-columns {
    flex-direction: row;
    align-items: flex-start;
  }
}
