.container {
  width: 100%;
}

.text-preset-1 {
  font-family: var(--ff);
  font-weight: var(--fw-bold);
  font-size: var(--fw-56);
  line-height: 1.25;
  letter-spacing: -1px;
}

.text-preset-2 {
  font-family: var(--ff);
  font-weight: var(--fw-bold);
  font-size: var(--fw-24);
  line-height: 1.25;
  letter-spacing: -1px;
}

.text-preset-3 {
  font-family: var(--ff);
  font-weight: var(--fw-bold);
  font-size: var(--fs-18);
  line-height: 1.25;
  letter-spacing: -1px;
}

.text-preset-4 {
  font-family: var(--ff);
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  line-height: 1.5;
  letter-spacing: 0;
}

.text-preset-5 {
  font-family: var(--ff);
  font-weight: var(--fw-medium);
  font-size: var(--fs-14);
  line-height: 1.5;
  letter-spacing: 0;
}
