<footer class="footer__attribution pt-10 pb-8 text-preset-6 slate-500">
  Challenge by
  <a
    class="underline"
    href="https://www.frontendmentor.io/profile/barriedirk/solutions"
    target="_blank"
    rel="noopener"
    aria-label="View solutions by Barrie Freyre on Frontend Mentor"
  >
    Frontend Mentor</a
  >. Coded by
  <a
    class="underline"
    href="https://www.linkedin.com/in/barriefreyre/"
    target="_blank"
    rel="noopener"
    aria-label="Visit Barrie Freyre's LinkedIn profile"
  >
    Barrie Freyre</a
  >.
</footer>
